* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #181824;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 90px 25px 90px;
    align-items: center;
}

h1 {
    font-size: 1.75rem;
    color: #7562E0;
}

ul {
    list-style: none;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}

ul > li {
    margin-right: 80px;
}

ul > li:last-child {
    margin-right: 0;
}

ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
}

ul > li:first-child > a {
    color: #7562E0;
}

.linhaHome {
    transition: all 0.2s linear;
    transition-delay: 0.4s;
    height: 3px;
    width: 100%;
    background-color: #7562E0;
}

.linhasMenu {
    height: 3px;
    width: 0;
    transition: all 0.2s linear;
}

.linhasHover {
    transition: all 0.2s linear;
    height: 3px;
    width: 100%;
    background-color: #7562E0;
}

.intro {
    background-color: #1a1a29;
    width: 100%;
    height: max(600px ,calc(100vh - 5rem));
    display: flex;
    justify-content: center;
}

.apresent {
    margin: auto;
    color: white;
    line-height: 4rem;
    font-weight: bolder;
}

.apresent > p:first-child {
    font-size: 2rem;
}

.apresent > p:nth-child(2) {
    font-size: 3.25rem;
}

.apresent > p:last-child {
    font-size: 1.25rem;
}

.img {
    margin: auto;
    background-color: #7562E0;
    border-radius: 100%;
    padding: 3rem;
    box-sizing: border-box;
}

img {
    width: 250px;
}

.principal {
    margin-top: 8rem;
    background-color: #1a1a29;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about {
    margin: 2rem 0 0 6rem;
}

.about > h2 {
    color: #7562E0;
    margin-bottom: 2px;
    font-size: 2rem;
}

.about > p {
    font-size: 1.125rem;
    text-align: justify;
    width: 90%;
    line-height: 1.75rem;
}

.skills {
    margin: 2rem 0 0 6rem;
}

.skills > h2 {
    color: #7562E0;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.skills > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills > ul > li {
    margin-bottom: 2rem;
}

.skills > ul > li > img {
    width: 80px;
    transition: all 0.5s;
}

.nomeLinguagem {
    color: #1a1a29;
    text-align: center;
    display: none;
    font-size: 16px;
    text-transform: uppercase;
}

.skills > ul > li:nth-child(3) > p {
    font-size: 13px;
}

.skills > ul > li:hover > img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    transition: all 0.5s;
    transform: scale(1.1, 1.1);
}

.skills > ul > li:hover > img + .nomeLinguagem {
    display: block;
    position: relative;
    text-align: center;
    margin-top: -50px;
}

.contact {
    margin: 0 0 0 6rem;
}

.contact > h2 {
    color: #7562E0;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.contact > form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact > form > input {
    margin: 0.5rem 0 1.5rem 0;
    background-color: transparent;
    color: white;
    border: 1px solid #7562E0;
    padding: 0.5rem;
    font-size: 1rem;
}

input:focus:required:invalid, textarea:focus:required:invalid {
    border: 1px solid red;
}

.contact > form > input:focus, .contact > form > textarea:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

textarea {
    margin: 0.5rem 0 1.5rem 0;
    resize: none;
    background-color: transparent;
    color: white;
    border: 1px solid #7562E0;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 0.5rem;
    background-color: #7562E0;
    font-size: 1.125rem;
    border: 1px solid #7562E0;
    cursor: pointer;
    transition: all 0.5s linear;
    color: white;
}

button:hover {
    transition: all 0.5s linear;
    background-color: #7562e0bd;
    border: 1px solid #7562e0bd;
}

span {
    color: red;
}

.social {
    margin: 2.5rem 0 0 6rem;
    margin-bottom: 2rem;
}

.social > h2 {
    color: #7562E0;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.social > a > img {
    width: 80px;
}

.social > a > img:first-child {
    margin-right: 3rem;
}

footer {
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 1.12rem;
    color: #7562E0;
}
